{% load livecomponents component_tags %}

<div id="{{ component_id }}" hx-swap-oob="morph:#{{ component_id|css_escape }}">
  {% component "search" parent_id=component_id search=search %}

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Origin</th>
      <th>Roast Level</th>
      <th>Flavor Notes</th>
      <th>Stock Quantity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for bean in beans %}
      {% component "row" bean=bean parent_id=component_id %}
    {% endfor %}
    </tbody>

  </table>
</div>
