{% load livecomponents component_tags %}

<dialog {% component_attrs component_id %} {% if open %}open{% endif %} data-testid="modal">
  <article  style="width: 60vw;">
    <header>
      <a href="#"
         hx-post="{% call_command component_id "close" %}"
         aria-label="Close" class="close"></a>
      <span data-testid="modal-title">{% slot "modal_title" %}{% endslot %}</span>
    </header>
    <p data-testid="modal-body">
      {% slot "modal_body" %}{% endslot %}
    </p>
    <footer data-testid="modal-footer">
      {% slot "modal_footer" %}{% endslot %}
    </footer>
  </article>
</dialog>
