{% load component_tags static django_htmx livecomponents %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My sample project</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1/css/pico.min.css">
  <meta name="htmx-config" content='{"defaultSwapStyle":"none"}'>

  <!-- JavaScript dependencies -->
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
  {% django_htmx_script %}

  {% component_css_dependencies %}
  {% livecomponents_session_id as LIVECOMPONENTS_SESSION_ID %}
  {% block head %}{% endblock %}
</head>
<body hx-ext="morph, json-enc" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<main class="container">
  <nav>
    <ul>
      <li><a href="{% url 'myapp:index' %}">Counters</a></li>
      <li><a href="{% url 'coffee:index' %}">Coffee beans</a></li>
    </ul>
  </nav>
  <hr>
  {% block body %}{% endblock %}
</main>

{% component_js_dependencies %}
</body>
<html>
