{% load component_tags static django_htmx livecomponents %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My sample project</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1/css/pico.min.css">

  <!-- Configure HTMX. See https://htmx.org/docs/#config -->
  <meta name="htmx-config" content='{"defaultSwapStyle":"none","allowNestedOobSwaps":false}'>

  <!-- HTMX and plugins -->
  <script src="https://unpkg.com/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha256-YCMa5rqds4JesVomESLV9VkhxNU7Zr9jfcGLTuJ8efk=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx-ext-json-enc@2.0.2/json-enc.js" integrity="sha256-n+FPqu23kscMGH4hmy2Ocv7ZKJE3UgXa2d/v4Y2azOo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx-ext-alpine-morph@2.0.1/alpine-morph.js" integrity="sha256-diqH7MmPdlWLfWOEw3QAq2HlqxYmGWy30JP864nBO2c=" crossorigin="anonymous"></script>
  <!-- Alpine Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/morph@3.15.0/dist/cdn.min.js" integrity="sha256-yc4QYrkTmE2o9PYBjxsweN9Z28PQ3PSozmsuzd4So5w=" crossorigin="anonymous"></script>
  <!-- Alpine Core -->
  <script defer src="https://unpkg.com/alpinejs@3.15.0/dist/cdn.min.js" integrity="sha256-4EHxtjnR5rL8JzbY12OKQJr81ESm7JBEb49ORPo29AY=" crossorigin="anonymous"></script>
  <!-- Hyperscript optional dependency -->
  <script src="https://unpkg.com/hyperscript.org@0.9.14/dist/_hyperscript.min.js" integrity="sha256-PoNKP/wDNP7lTs/043pq6VHNg+baqWZRynz9j3Ua1NI=" crossorigin="anonymous"></script>
  {% django_htmx_script %}

  {% component_css_dependencies %}
  {% livecomponents_session_id as LIVECOMPONENTS_SESSION_ID %}
  {% block head %}{% endblock %}
  <script>
    const fetchUrl = "{% url 'livecomponents:clear-session' %}?session_id={{ LIVECOMPONENTS_SESSION_ID }}";
    const csrfmiddlewaretoken = "{{ csrf_token }}";
    window.addEventListener("beforeunload", function () {
        navigator.sendBeacon(fetchUrl, new URLSearchParams({csrfmiddlewaretoken}))
    });
  </script>
</head>
<body hx-ext="alpine-morph, json-enc"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      _="on htmx:responseError[detail.xhr.status == 410] window.location.reload()"
>
<main class="container">
  <nav>
    <ul>
      <li><a href="{% url 'counters_index' %}">Counters</a></li>
      <li><a href="{% url 'simplecounter' %}">Simple counter</a></li>
      <li><a href="{% url 'coffee' %}">Coffee beans</a></li>
      <li><a href="{% url 'modals' %}">Modals</a></li>
      <li><a href="{% url 'registration' %}">Registration</a></li>
      <li><a href="{% url 'uploads' %}">Uploads</a></li>
      <li><a href="{% url 'chart' %}">Chart</a></li>
      <li><a href="{% url 'urlnavigation' %}">URL Navigation</a></li>
    </ul>
  </nav>
  <hr>
  {% block body %}{% endblock %}
</main>
<hr>
<footer class="container">
  <a hx-post="{% url 'livecomponents:clear-session' %}?session_id={{ LIVECOMPONENTS_SESSION_ID }}" href="#">Clear Session</a>
</footer>

{% component_js_dependencies %}
</body>
<html>
