{% extends "base.html" %}
{% load livecomponents component_tags %}

{% block body %}

  <table>

    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>

    {# NOTE: The loop variable is named "account" (not "user") on purpose. #}
    {# Since django-components v0.140, slot fills are rendered lazily, and a #}
    {# for-loop variable that shadows a context processor variable (like "user" #}
    {# from django.contrib.auth) would be overshadowed by the context processor #}
    {# inside the {% fill %} blocks. #}
    {% for account in users %}
      {% component_id "modal" account.username as modal_username %}
      {% component_id "emailsender" account.username as emailsender_username %}
      <tr>
      <td>{{ account.username }}</td>
      <td>{{ account.email }}</td>
      <td>
        <a href="#" hx-post="{% call_command modal_username "open" %}">
          Send email
        </a>
        {% livecomponent "emailsender" own_id=account.username %}
        {% livecomponent_block "modal" own_id=account.username save_context="account, modal_username, emailsender_username" %}
          {% fill "modal_title" %}
            {{ account.username|capfirst }}
          {% endfill %}
          {% fill "modal_body" %}
            Send email to {{ account.email }}?
          {% endfill %}
          {% fill "modal_footer" %}
            <a data-testid="modal-close" href="#" role="button" class="secondary" hx-post="{% call_command modal_username "close" %}">Cancel</a>
            <a href="#" role="button"
               hx-post="{% call_command emailsender_username "send_email" %}"
               hx-vals='{"email": "{{ account.email }}"}'
            >Send email</a>
          {% endfill %}
        {% endlivecomponent_block %}
      </td>
    {% endfor %}
  </table>
{% endblock %}
