{% extends "base.html" %}
{% load livecomponents component_tags %}

{% block body %}

  <table>

    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>

    {% for user in users %}
      <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a href="#" hx-post="{% call_command "/modal."|add:user.username "open" %}">
          Send email
        </a>
        {% only_with username=user.username email=user.email name=user.username|capfirst %}
          {% livecomponent "emailsender" own_id=username %}
          {% livecomponent_block "modal" own_id=username %}
            {% fill "modal_title" %}
              {{ name }}
            {% endfill %}
            {% fill "modal_body" %}
              Send email to {{ email }}?
            {% endfill %}
            {% fill "modal_footer" %}
              <a href="#" role="button" class="secondary" hx-post="{% call_command "/modal."|add:username "close" %}">Cancel</a>
              <a href="#" role="button"
                 hx-post="{% call_command "/emailsender."|add:username "send_email" %}"
                 hx-vals='{"email": "{{ email }}"}'
              >Send email</a>
            {% endfill %}
          {% endlivecomponent_block %}
        {% endonly_with %}
      </td>
    {% endfor %}
  </table>
{% endblock %}
