{% load livecomponents component_tags %}

<div {% component_attrs component_id %}>
  {% livecomponent "coffee/search" parent_id=component_id search=search %}

  <table data-testid="coffee-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Origin</th>
      <th>Roast Level</th>
      <th>Flavor Notes</th>
      <th>Stock Quantity</th>
      <th></th>
    </tr>
    </thead>
    <tbody data-testid="coffee-table-body">
    {% for bean in beans %}
      {% livecomponent_block "coffee/row" bean=bean parent_id=component_id own_id=bean.id %}
        {% fill "stock_actions" %}
          <a href="#"
             hx-post="{% call_command component_id "change_stock" %}" hx-vals='{"amount": 1}'>+1</a>
          <a href="#"
             hx-post="{% call_command component_id "change_stock" %}" hx-vals='{"amount": -1}'>-1</a>
        {% endfill %}
      {% endlivecomponent_block %}
    {% endfor %}
    </tbody>

  </table>
</div>
