{% load livecomponents component_tags %}

<div {% component_attrs component_id %}>
  {% component "search" parent_id=component_id search=search %}

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Origin</th>
      <th>Roast Level</th>
      <th>Flavor Notes</th>
      <th>Stock Quantity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for bean in beans %}
      {% component "row" bean=bean parent_id=component_id own_id=bean.id %}
    {% endfor %}
    </tbody>

  </table>
</div>
